#container{
margin-top: 50px;
display: flex;
background-color: peachpuff;
flex-wrap: wrap;
max-width: 560px;
max-height: 560px;
border: 2px solid red;
}

.gridbox{
    background-color: white;

}

body{
    background-color: peachpuff;
}

.gridbox:hover{
    background-color: black;
}

#containerscont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1{
    text-align: center;
}

button{
    padding: 3px;
    background-color: red;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: pink;
}